.movies {
    position: relative;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movies__nothing-found-text {
    margin:  100px auto;
    padding: 0;
    max-width: 240px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movies__button {
    margin: 50px auto 80px;
    padding: 0;
    width: 320px;
    height: 36px;
    outline: none;
    border: 1px #8b8b8b solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    position: relative;
}

@media screen and (max-width: 450px) {
    .movies__button {
        width: 240px;
    }
}